<section class="first-screen">
  <div class="container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide" style="background-image: url('img/slider-bg-1.png')">
          <h2>
            Техноап
          </h2>
          <p>
            Научно-производственное предприятие
          </p>
        </a>
        <a href="#" class="swiper-slide">
          <h2>
            Разливка
          </h2>
          <p>
            Нано метала в нано стаканы
          </p>
        </a>
        <a href="#" class="swiper-slide">
          <h2>
            Выплавка металов
          </h2>
          <p>
            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев
          </p>
        </a>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
