<section class="news">
  <div class="container">
    <h2 class="title">
      Новости компании
    </h2>
    <div class="news__container" data-simplebar>
      <a href="#" class="news__link">
        <span class="news__time">
          <time datetime="2017">2017</time>
          <time datetime="2017-07">Июль</time>
        </span>
        <h3 class="news__title">
          Сдана в промышленную эксплуатацию система измерения уровня металла в блюмовом кристаллизаторе 4-х ручьевой УНРС #2 ЭСПЦ АО «Волжский Трубный Завод», г.Волжский.
        </h3>
      </a>
      <a href="#" class="news__link">
        <span class="news__time">
          <time datetime="2017">2017</time>
          <time datetime="2017-07">Июль</time>
        </span>
        <h3 class="news__title">
          Сдана в <strong>промышленную эксплуатацию система измерения</strong> уровня металла в блюмовом кристаллизаторе 4-х ручьевой УНРС #2 ЭСПЦ АО «Волжский Трубный Завод», г.Волжский.
          Сдана в <strong>промышленную эксплуатацию система измерения</strong> уровня металла в блюмовом кристаллизаторе 4-х ручьевой УНРС #2 ЭСПЦ АО «Волжский Трубный Завод», г.Волжский.
        </h3>
      </a>
      <a href="#" class="news__link">
        <span class="news__time">
          <time datetime="2017">2017</time>
          <time datetime="2017-07">Июль</time>
        </span>
        <h3 class="news__title">
          Сдана в промышленную эксплуатацию система измерения уровня металла в блюмовом кристаллизаторе 4-х ручьевой УНРС #2 ЭСПЦ АО «Волжский Трубный Завод», г.Волжский.
        </h3>
      </a>
      <a href="#" class="news__link">
        <span class="news__time">
          <time datetime="2017">2017</time>
          <time datetime="2017-07">Июль</time>
        </span>
        <h3 class="news__title">
          Сдана в промышленную эксплуатацию система измерения уровня металла в блюмовом кристаллизаторе 4-х ручьевой УНРС #2 ЭСПЦ АО «Волжский Трубный Завод», г.Волжский.
        </h3>
      </a>
      <a href="#" class="news__link">
        <span class="news__time">
          <time datetime="2017">2017</time>
          <time datetime="2017-07">Июль</time>
        </span>
        <h3 class="news__title">
          Сдана в промышленную эксплуатацию система измерения уровня металла в блюмовом кристаллизаторе 4-х ручьевой УНРС #2 ЭСПЦ АО «Волжский Трубный Завод», г.Волжский.
        </h3>
      </a>
      <a href="#" class="news__link">
        <span class="news__time">
          <time datetime="2017">2017</time>
          <time datetime="2017-07">Июль</time>
        </span>
        <h3 class="news__title">
          Сдана в промышленную эксплуатацию система измерения уровня металла в блюмовом кристаллизаторе 4-х ручьевой УНРС #2 ЭСПЦ АО «Волжский Трубный Завод», г.Волжский.
        </h3>
      </a>
      <a href="#" class="news__link">
        <span class="news__time">
          <time datetime="2017">2017</time>
          <time datetime="2017-07">Июль</time>
        </span>
        <h3 class="news__title">
          Сдана в промышленную эксплуатацию система измерения уровня металла в блюмовом кристаллизаторе 4-х ручьевой УНРС #2 ЭСПЦ АО «Волжский Трубный Завод», г.Волжский.
        </h3>
      </a>
      <a href="#" class="news__link">
        <span class="news__time">
          <time datetime="2017">2017</time>
          <time datetime="2017-07">Июль</time>
        </span>
        <h3 class="news__title">
          Сдана в промышленную эксплуатацию система измерения уровня металла в блюмовом кристаллизаторе 4-х ручьевой УНРС #2 ЭСПЦ АО «Волжский Трубный Завод», г.Волжский.
        </h3>
      </a>
    </div>
  </div>
</section>
