<section class="partners">
  <div class="container">
    <h2 class="title">
      Партнёры компании
    </h2>
    <ul class="partners__list">
      <li>
        <img src="img/logo1.png" alt="">
      </li>
      <li>
        <img src="img/logo2.png" alt="">
      </li>
      <li>
        <img src="img/logo3.png" alt="">
      </li>
      <li>
        <img src="img/logo4.png" alt="">
      </li>
      <li>
        <img src="img/logo5.png" alt="">
      </li>
      <li>
        <img src="img/logo6.png" alt="">
      </li>
      <li>
        <img src="img/logo7.png" alt="">
      </li>
      <li>
        <img src="img/logo8.png" alt="">
      </li>
      <li>
        <img src="img/logo9.png" alt="">
      </li>
      <li>
        <img src="img/logo10.png" alt="">
      </li>
      </li>
      <li>
        <img src="img/logo11.png" alt="">
      </li>
      </li>
      <li>
        <img src="img/logo12.png" alt="">
      </li>
    </ul>
  </div>
</section>
