<footer class="footer">
  <div class="container">
    <div class="footer__inner-wrapper">
      <div class="footer__content">
        <div class="footer__contacts">
          <div class="footer__info">
            <h3>
              Единый телефон:
            </h3>
            <p>
              <a href="tel:+74959819167">
                +7 (495) 981-91-67
              </a>
            </p>
          </div>
          <div class="footer__info">
            <h3>
              Для предложений:
            </h3>
            <p>
              <a href="mailto:mail@technoap.ru">
                mail@technoap.ru
              </a>
            </p>
          </div>
          <div class="footer__info">
            <h3>
              Адрес предприятия:
            </h3>
            <p>
              г. Москва, Научный проезд, дом 20, строение 3
            </p>
          </div>
        </div>
        <img src="img/residence.png" alt="" class="footer__residence">
      </div>
      <div class="footer__copyright">
        <h1>
          Техноап
        </h1>
        <p>
          Копирайт © 2019 НПО «ТехноАп» - Научно-производственное предприятие.
        </p>
      </div>
    </div>
  </div>
</footer>
