<header class="header">
  <div class="header__container">
    <div class="header__inner-wrapper">
      <div class="header__burger burger">
        <div class="burger__button" title="Меню">
          <button href="#" class="burger__link">
            НПО «Техноап»
          </button>
        </div>
        <div class="burger__inner-wrapper">
          <div class="header__nav">
            <nav class="nav">
              <ul>
                <li class="nav--active">
                  <a href="#">
                    Главная
                  </a>
                </li>
                <li>
                  <a href="#">
                    О компании
                  </a>
                </li>
                <li>
                  <a href="#">
                    Продукция
                  </a>
                </li>
                <li>
                  <a href="#">
                    Референц-лист
                  </a>
                </li>
                <li>
                  <a href="#">
                    Лицензии
                  </a>
                </li>
                <li>
                  <a href="#">
                    Партнёры
                  </a>
                </li>
                <li>
                  <a href="#">
                    Контакты
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <ul class="burger__nav">
            <li class="burger__main-link">
              <a href="#">
                Разливка
              </a>
            </li>
            <li>
              <a href="#">
                Система "Детектор-сталь"
              </a>
            </li>
            <li>
              <a href="#">
                Комплекс "Кристаллизатор"
              </a>
            </li>
            <li>
              <a href="#">
                Система «Уровень»
              </a>
            </li>
            <li>
              <a href="#">
                Система "Термовизор"
              </a>
            </li>
            <li>
              <a href="#">
                Система "СИУМ"
              </a>
            </li>
            <li>
              <a href="#">
                Система "СИУМ-С"
              </a>
            </li>
            <li>
              <a href="#">
                Система "СИУМ-П"
              </a>
            </li>
            <li>
              <a href="#">
                Система "Динаскоп"
              </a>
            </li>
            <li>
              <a href="#">
                Система "Роса"
              </a>
            </li>
            <li>
              <a href="#">
                Привод стопора ПС-10
              </a>
            </li>
            <li>
              <a href="#">
                Легкосъемный стопорный механизм для промковша
              </a>
            </li>
            <li>
              <a href="#">
                ДУМ для сортового кристаллизатора
              </a>
            </li>
            <li>
              <a href="#">
                Вибрационный детектор шлака в стальковше
              </a>
            </li>
            <li class="burger__main-link">
              <a href="#">
                Выплавка
              </a>
            </li>
            <li class="burger__main-link">
              <a href="#">
                Прокат
              </a>
            </li>
          </ul>
          <div class="header__lang lang-list">
            <button class="lang-list__result">
              RU
            </button>
            <ul class="lang-list__list">
              <li>
                <a href="#" class="lang-list__list--active">RU</a>
              </li>
              <li>
                <a href="#">ENG</a>
              </li>
              <li>
                <a href="#">CHN</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <button class="button-nav">
        <span>
          Связаться
        </span>
      </button>

    </div>
  </div>
</header>
